* {background-color: goldenrod;
font-style: fantasy, 'Times New Roman', Times, serif;
    text-align: center;
}
.hgif{
height: 90px;
width: auto;
}
.header{
     font-weight: bold;
     font-style: italic;
     font-size: 45px;
 }
.body,
.link{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 5px 2px;
}
.thumb{
    width: 250px;
    height: 250px;
    display: inline-block;
    background-color: grey;
}
 button{
    background-color: grey;
    outline: invert;
    outline-style: double;
    outline-offset: 2px;  
 }

 .hlink{
    background-color: grey;
    color: black;
    font-size: 25px;
    font-style: italic;
}